---
const { color, title, subtitle, id } = Astro.props;
const textColor = `text-${color}`;
---

<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color={color}
  id={id}
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class={`${textColor} text-[40px] font-medium pt-32`}>
        {title}
      </h2>
      <p class={`${textColor} text-sm`}>
        {subtitle}
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-20">
      <slot name="footer" />
    </footer>
  </div>

  <slot name="background" />
</section>
